<div class="row">
<h1 style="text-align:center;">Black Management Association Conference 2022</h1>
<img src="https://cdn.pixabay.com/photo/2016/09/13/01/58/lake-michigan-1666234_1280.jpg" class="img-fluid" alt="Lake Michigan">
</div>